@charset "utf-8";
/* CSS Document */
.nav_search{ background:#0098bd; height:30px; font-size:14px; line-height:30px; width:100%; filter:alpha(opacity=100);}
.nav_search a{ color:#FFFFFF;}
.nav_search ul{ width:px; height:30px; margin:0 auto; left:5px; font-family:"Microsoft Yahei"; position: absolute;}
.nav_search li{ list-style:none; float: left; text-align:center; width:px;}
.nav_search li a{ width:141px; height:30px; display:block; text-decoration:none}
.nav_search li a:hover{ background:url(./images/nav_pre_03.png) no-repeat; background-color:#47bd00; border:1px solid #56e600; border-bottom:0; border-top:0;}
.nav_search li a.present{ background:url(./images/nav_pre_03.png) no-repeat; background-color:#47bd00; border:1px solid #56e600; border-bottom:0; border-top:0;}

/* 热词旋转 */
#keyword_scroll{height:250px;width:160px; position:relative; margin:10px auto; overflow:hidden;}
#keyword_scroll a{position:absolute;top:0px;left:0px;font-family:"Microsoft Yahei";color:#888;font-weight:;padding:3px 6px; white-space:nowrap;}
#keyword_scroll a:hover{border:1px solid #eee;background:#;border-radius:0px; color:#4086bf}

/* 搜索结果页 */

.checked{background-image:url(../images/checked.gif);width:15px;height:15px; margin-right:3px;background-repeat:no-repeat;float:left;}
.unchecked{background-image:url(../images/unchecked.gif);width:15px;height:15px; margin-right:3px;background-repeat:no-repeat;float:left; }


.whitetxt { width:760px; height:30px; background:url(../images/sousou_07.gif); border:1px solid #ececec; border-bottom:0; LINE-HEIGHT:26px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none; margin-top:0px; margin-left:10px;
}
.whitetxt A {
	LINE-HEIGHT: 180%; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.whitetxt2 { width:610px; height:30px; border-bottom:0; LINE-HEIGHT:26px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none; margin-top:0px; margin-left:10px; margin-bottom:5px;
}
.whitetxt2 div{ line-height:px;}
.whitetxt2 A {
	LINE-HEIGHT: 180%; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.whitetxt2 div {
	TEXT-ALIGN: center; WIDTH: 55px; MARGIN-top:2px; FLOAT: left; LINE-HEIGHT:26px; COLOR: #999; CURSOR:; FONT-WEIGHT: normal; font-family:"Microsoft Yahei"; cursor:pointer
}
.whitetxt2 .hover {
	TEXT-ALIGN: center; MARGIN-top:2px; margin-left:2px; WIDTH: 49px; background:url(../images/sousou_12.gif) no-repeat center 50%; FLOAT: left; HEIGHT: 28px; COLOR: #fff; CURSOR: pointer; FONT-WEIGHT: normal;}
.shurukuang{ clear:both; width:620px; height:23px; line-height:26px; color:#999; background:url(../images/search_24.gif) no-repeat #FFFFFF; padding-left:25px; border:1px solid #CCCCCC; margin-top:0px; margin-left:5px; }
.shurukuang2{ clear:both; width:500px; height:27px; line-height:27px; color:#999; padding-left:7px; background:url(../images/home/home_search_07.gif) no-repeat; border:0; margin-top:0px; }
.search_btn{ width:85px; height:28px; background:url(../images/home/sea_09.gif) no-repeat; border:0; font-family:"Microsoft Yahei"; font-size:15px; color:#FFFFFF; padding-left:px; cursor:pointer}
.search_input{ width:762px; height:35px; background-color:#f4f4f4; margin-left:10px;}
.search_input2{ width:610px; height:35px; margin-left:10px;}


/**/

.search_sort{ font-size:14px; height:30px; line-height:30px; background:url(../images/ybg_0.gif) repeat-x #f9f9f9; border:1px solid #f3f3f3; font-family:"microsoft yahei"; color:#666666; font-weight:; margin-right:20px; margin-bottom:10px; margin-top:10px; padding-left:5px; padding-right:8px;}
.search_sort img{ margin-top:-2px;}
.search_sort a{ color:#666}
.search_result_box{ background:#FFFFFF; width:795px; min-height:650px; margin-left:8px; padding-bottom:30px;}
.search_result{border-right:1px dashed #dbdbdb; margin-top:15px;}
.search_box{ height:100px;}
.hengxian{ height:17px; margin:0 15px; border-bottom:1px solid  #DFDFDF; }

.yinshen_tu{ margin-left:20px; margin-bottom:20px; line-height:30px; font-family:"microsoft yahei"; font-size:14px; color:#333333; width:770px; height:150px; overflow:hidden;}
.yinshen_tu a{ color:#333333;}
.yinshen_tu img{ height:120px; margin-right:10px;}

.search_jieguo{ width:770px; height:px; border-bottom:1px dashed #e4e4e4; margin-left:12px; margin-bottom:15px; padding-top:5px}
.search_jieguo:hover{ background:#fbfbfb}
.search_xinxi{ margin-top:px; margin-left:10px; _margin-top:12px; _margin-left:8px; width:740px; font-family:"microsoft yahei"; padding-bottom:10px;}
.search_xinxi a{ color:#0069b2}
.document{ color:#005579; font-size:14px; width:690px; height:19px; line-height:19px; overflow:hidden; background:url(../images/leixing_03.gif) no-repeat; padding-left:45px; }
.table{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background:url(../images/leixing_07.gif) no-repeat; padding-left:45px; }
.picture{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background:url(../images/leixing_10.gif) no-repeat; padding-left:45px; }
.video{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background:url(../images/leixing_12.gif) no-repeat; padding-left:45px; }
.search_jianjie{ width:730px; line-height:18px; color:#666; margin:10px 0}
.search_leibie{ width:730px; height:18px; color:#c2c2c2; overflow:hidden}
.search_leibie img{ margin-left:5px; margin-right:3px;}
.search_leibie a{ color:#999999}
.search_leibie span{ color:#999; margin-left:10px;}
.search_leibie .left{ color:#093}




/*图片列表页*/
.search_result_pic{ width:180px; float:left; border:1px solid #E4E4E4; margin-left:13px; margin-bottom:20px;}
.search_result_pic_title{ color:#666666; line-height:20px; width:93%; height:40px; overflow:hidden; margin-left:7px;}
.search_result_pic_title a{ color:#666666; }
.search_result_pic_img{ margin:7px; width:166px; height:100px; overflow:hidden}
.search_result_pic_time{ width:93%; margin-left:7px; color:#666666; line-height:20px;}
.search_result_pic_like{ width:93%; margin-left:7px; line-height:30px; text-align:}
.search_result_pic_like a{ color:#999}
.search_result_pic_other{ background:#f7f7f7;}

.top10_pic{ margin:0 10px; width:175px;
	_margin:8px;
	_display:inline;
	margin-top:15px;
	padding-bottom:5px;
	border:1px solid #e6e6e6;
	border-top:2px solid #3399CC	
}
.top10_pic_title{ color:#0098bd; font-size:14px; height:33px; line-height:33px; background:url(../images/ybg_03.gif); font-family:"Microsoft Yahei"; font-weight:bold; padding-left:10px; margin-bottom:5px; border-bottom:1px solid #e6e6e6;}
.top10_pic li{ width:75px; line-height:22px; color:#8f8f8f; list-style:none; margin-left:10px; margin-top:5px; margin-bottom:5px; float:left; height:70px; overflow:hidden;}
.top10_pic li img{ width:71px; height:50px;}
.top10_pic li a{ color:#8f8f8f; width:70px;}
.top10_pic li em{ font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-right:5px; color:#b3b3b3}


/*视频列*/

.search_result_video{ width:375px; float:left; border:1px solid #E4E4E4; margin-left:13px; margin-bottom:20px; position:relative}
.search_result_video_info{ width:180px; overflow:hidden;}
.search_result_video_title{ color:#333; font-size:14px; width:200px; height:19px; line-height:19px; margin-top:15px; overflow:hidden; }
.search_result_video_title a{ color:#037fa8; font-weight:bold;}
.search_result_video_shot{ width:200px; line-height:18px; color:#666; margin:8px 0}
.video_play{ position:absolute; top:40px; left:70px;}




.top10_video{ margin:0 10px; width:175px;
	_margin:8px;
	_display:inline;
	margin-top:15px;
	padding-bottom:5px;
	border:1px solid #e6e6e6;
	border-top:2px solid #3399CC	
}
.top10_video_title{ color:#0098bd; font-size:14px; height:33px; line-height:33px; background:url(../images/ybg_03.gif); font-family:"Microsoft Yahei"; font-weight:bold; padding-left:10px; margin-bottom:5px; border-bottom:1px solid #e6e6e6;}
.top10_video li{ width:75px; line-height:22px; color:#8f8f8f; list-style:none; margin-left:10px; margin-top:5px; margin-bottom:5px; float:left; height:70px; overflow:hidden;}
.top10_video li img{ width:71px; height:50px;}
.top10_video li a{ color:#8f8f8f; width:70px;}
.top10_video li em{ font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-right:5px; color:#b3b3b3}






.gjztj_title{ font-size:16px; color:#0086b1; font-family:"Microsoft Yahei"; font-weight:bold; padding-left:20px;  line-height:30px; float:left}
.gjz_box{}
.gjz{ color:#737373; font-size:14px; font-weight:bold; margin-left:10px; width:650px; float:left}
.gjz li{ float:left; list-style:none; line-height:30px;}
.gjz li a{ text-align:center; color:#737373; display:block; padding:0 10px; white-space:nowrap}
.gjz li a.first{ border-top:1px solid #1e9bc3;  border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #fff}

.xinxi5{
	clear:both;
	border:1px solid #e3e3e3;
	margin-left:20px;
	margin-right:20px;
	margin-top:-1px;
	_margin-top:-10px;

}
.xinxi5 li{ list-style:inside; line-height:24px; color:#8a8a8a; padding-left:10px;}
.xinxi5 li a{color:#8a8a8a; }

.search_right_box{ width:204px; background:url(../images/bgtm_05.png)}
.search_right{ width:197px; background:#; height:100%; _margin-top:5px;}
.top10{ margin:0 10px;
	_margin:8px;
	_display:inline;
	margin-top:15px;
	width:175px; overflow:hidden;
	padding-bottom:5px;
	border:1px solid #e6e6e6;
	border-top:2px solid #3399CC	
}
.top10_title{ color:#0098bd; font-size:14px; height:33px; line-height:33px; background:url(../images/ybg_03.gif); font-family:"Microsoft Yahei"; font-weight:bold; padding-left:10px; margin-bottom:5px; border-bottom:1px solid #e6e6e6;}
.top10 li{ width:165px; overflow:hidden; height:25px; line-height:22px; overflow:hidden; color:#8f8f8f; list-style:none; padding-left:13px; font-style:normal; background:url(../images/home/point.gif) no-repeat 5px 9px; font-size:12px;}
.top10 li a{ color:#8f8f8f;}
.top10 li em{ font-family:Arial, Helvetica, sans-serif; font-style:normal; font-size:12px; margin-right:5px; color:#b3b3b3; display:none}
.tiwen{ margin-left:10px; margin-top:10px; margin-bottom:20px;}






/* 详细页 */

.weizhi{ height:25px; line-height:25px; border-bottom:1px solid #cbcbcb; margin-bottom:5px; margin-top:px; margin-left:10px; margin-right:10px; color:#b4b4b4}
.xjt{ font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0 5px;}
.weizhi_shouye a{ color:#6793b3; width:40px; text-align:center; display:block; border-bottom:1px solid #00a2c8}
.weizhi_qita a{ color:#999999}

.detail{ width:800px; margin-top:13px; border-right:1px dashed #dbdbdb;}
.detail_title{ font-size:22px; font-family:"Microsoft Yahei"; color:#035e74; text-align:center; line-height:40px; margin-top:20px;}
.title2{ text-align:center; color:#999; line-height:40px; margin:0 20px; border-bottom:1px dashed #dbdbdb}
.pic{ margin:20px 0;}
.pic img{ max-width:700px;}
.wenzi{ color:#5e5e5e; font-size:14px; line-height:30px; margin:0 40px; margin-bottom:20px;}

.btn{ text-align:center; margin-bottom:20px;}
.btn img{ margin:0 20px;}

.pinglun{ margin-left:20px; margin-top:10px; padding-left:20px; margin-bottom:30px; clear:both}
.pinglun_title{font-size:16px; color:#0086b1; font-family:"Microsoft Yahei"; font-weight:bold; line-height:30px;}
.pinglun_box{ margin-top:10px; margin-right:30px; padding-bottom:15px; border-bottom:1px dashed #dbdbdb}
.pinglun_box img{ float:left; padding:3px; border:1px solid #e7e7e7; margin-right:10px;}

.pinglun_ren{ color:#004276; font-size:14px}
.pinglun_ren a{ color:#004276}
.pinglun_ren span{ color:#999999; font-size:12px}
.pinglun_neirong{ color:#a5a5a5; width:642px; line-height:20px; margin-top:5px;}

.pinglun_tongji{ text-align:right; margin-right:30px; line-height:30px; color:#0086b1}
.pinglun_tongji a{ color:#FF6600; font-family:Arial, Helvetica, sans-serif; font-size:14px}
.pinglun_tianxie{ color:#2b2b2b; width:720px; height:180px; background:#f4f4f4; border-top:1px solid #CCCCCC}
.pinglun_denglu{ padding:10px;}
.pinglun_tianxie textarea{ color:#999999}
.shengming{ color:#999999; line-height:30px; margin-left:10px;}



/* 详细表格页 */

.table_hd{ margin:10px 15px; border-bottom:2px solid #00a5cd; height:26px; line-height:26px; font-family:"Microsoft Yahei"; font-size:14px}
.table_hd li{ padding:0 15px; color:#666666; float:left; list-style:none; margin-right:2px; background: #F6F6F6; cursor:pointer}
.table_hd li.hover{ background:#00a5cd; color:#FFFFFF;}

/* 搜索筛选 */

.Filter{ color:#333; font-size:12px; font-family:"microsoft yahei"; position:relative}
.Filter_table{ border:0px solid #f3f3f3; margin-left:10px; margin-bottom:0px; width:770px; height:2px; overflow:hidden;}
.filter_table_bg{ background:url(../images/jsbg_03.gif) repeat-x}
.Filter img{ margin-top:-2px;}
.Filter input{ margin-top:-3px;}
.filter_btn{ background:url(../images/ybg_03.gif); font-family:"Microsoft Yahei"; font-size:14px; border:1px solid #cdcdcd; border-top:2px solid #0083ae; border-bottom:0; width:100px; line-height:25px;  text-align:center; color:#666666; font-weight:bold; position:absolute; top:-43px; left:-1px;}
.filter_btn_top{ width:770px; height:10px; background:url(../images/bag_03.gif) repeat-x}
.filter_btn a{ color:#666}


#select {
	border-top-color: rgb(238, 217, 124); border-top-width:0px; border-top-style: solid;  margin-bottom:-1px;
}
.select_sort{ border-bottom:1px solid #ededed; padding-top:10px; font-family:"microsoft yahei"; padding-bottom:10px; backgroun:url(../images/personal/bg_10.gif) repeat-x}
.select_title {
	width: 100px; text-align: right; line-height: 25px; font-weight: bold; float: left;
}
.select_title li{ list-style:none}
.select_title a{ color:#333}
.select{ float:left; width: 640px; }
.selected{ line-height:25px; padding:10px; padding-top:0; border-bottom:0px solid #dcdcdc}
.selected li{ list-style:none; float:left; height:16px; line-height:16px; white-space:nowrap;
 text-decoration: none; color:#333; padding:0px 0px 0px 3px; background: url(../images/x_03.gif) no-repeat right; border:1px solid #E8E8E8; margin-left:10px; margin-top:5px; margin-bottom:5px;
}
.selected li a{ color:#333; padding-right:16px; text-decoration:none; white-space:nowrap;}
.select_bread{ line-height:25px; margin-left:10px; margin-bottom:5px; color:#666666; padding-bottom:5px; border-bottom:1px dotted #e2e2e2}
.select_bread a{ color:#2585a1; font-weight:bold}
.select_list{
 margin-left:10px; float:left; line-height: 25px; width:630px;

}
.select_list li { list-style:none; float:left; list-style-type: none;border:1px dashed #f3f3f3; padding-top:2px;
	height: 15px; line-height: 15px; text-decoration: none;   color:#666666; margin:6px 6px; margin-left:0;
}

.select_list a {
	text-decoration: none;   color:#666666; 
}
 
