@charset "utf-8";

.search_content_box{ width:1000px; background:url(../images/bgall_07.png) repeat-y; margin:0 auto; z-index:1;
-moz-box-shadow:0px 0px 0px #b9b9b9;               /* For Firefox3.6+ */
-webkit-box-shadow:0px 0px 0px #b9b9b9;          /* For Chrome5+, Safari5+ */
box-shadow:0px 0px 0px #b9b9b9;                    /* For Latest Opera */
}
.search_content{ width:992px; _margin-top:-5px; background:#ffffff; margin-left:4px}

.tansuo{ width:40px; padding-left:30px; padding-top:17px; height:30px; text-align:center; color:#Fff; font-family:"microsoft yahei"; position:absolute; right:0px; top:20px; background:url(../images/home/hm_03.png) no-repeat;}
.tansuo a{color:#fff}

/* CSS Document */
.nav_search{ background:#0098bd; height:30px; font-size:14px; line-height:30px; width:100%; filter:alpha(opacity=100);}
.nav_search a{ color:#FFFFFF;}
.nav_search ul{ width:px; height:30px; margin:0 auto; left:5px; font-family:"Microsoft Yahei"; position: absolute;}
.nav_search li{ list-style:none; float: left; text-align:center; width:px;}
.nav_search li a{ width:141px; height:30px; display:block; text-decoration:none}
.nav_search li a:hover{ background:url(./images/nav_pre_03.png) no-repeat; background-color:#47bd00; border:1px solid #56e600; border-bottom:0; border-top:0;}
.nav_search li a.present{ background:url(./images/nav_pre_03.png) no-repeat; background-color:#47bd00; border:1px solid #56e600; border-bottom:0; border-top:0;}

/* 热词旋转 */
#keyword_scroll{height:250px;width:160px; position:relative; margin:10px auto; overflow:hidden;}
#keyword_scroll a{position:absolute;top:0px;left:0px;font-family:"Microsoft Yahei";color:#888;font-weight:;padding:3px 6px; white-space:nowrap;}
#keyword_scroll a:hover{border:1px solid #eee;background:#;border-radius:0px; color:#4086bf}

/* 搜索结果页 */
#searchform{ float:left}
.checked{background-image:url(../images/checked.gif);width:15px;height:15px; margin-right:3px;background-repeat:no-repeat;float:left;}
.unchecked{background-image:url(../images/unchecked.gif);width:15px;height:15px; margin-right:3px;background-repeat:no-repeat;float:left; }


.whitetxt { width:760px; height:30px; background:url(../images/sousou_07.gif); border:1px solid #ececec; border-bottom:0; LINE-HEIGHT:26px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none; margin-top:0px; margin-left:10px;
}
.whitetxt A {
	LINE-HEIGHT: 180%; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.whitetxt2 { width:610px; height:30px; border-bottom:0; LINE-HEIGHT:26px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none; margin-top:0px; margin-left:px; margin-bottom:5px;
}
.whitetxt2 div{ line-height:px;}
.whitetxt2 A {
	LINE-HEIGHT: 180%; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.whitetxt2 div {
	TEXT-ALIGN: center; WIDTH: 55px; MARGIN-top:2px; FLOAT: left; LINE-HEIGHT:24px; COLOR: #666; CURSOR:; FONT-WEIGHT: normal; font-family:"Microsoft Yahei"; cursor:pointer
}
.whitetxt2 .hover {
	TEXT-ALIGN: center; MARGIN-top:2px; margin-left:2px; WIDTH: 49px; background:url(../images/sousou_12.gif) no-repeat center 50%; FLOAT: left; HEIGHT: 28px; COLOR: #fff; CURSOR: pointer; FONT-WEIGHT: normal;}
.shurukuang{ clear:both; width:620px; height:23px; line-height:26px; color:#999; background:url(../images/search_24.gif) no-repeat #FFFFFF; padding-left:25px; border:1px solid #CCCCCC; margin-top:0px; margin-left:5px; }
.shurukuang2{ clear:both; width:460px; height:24px; line-height:24px; color:#666; padding-left:7px; background:url(./images/home/home_search_07.gif) no-repeat #ffffff; border:1px solid #b4b4b4; border-right:px solid #b4b4b4; margin-top:0px; float:left }
.shurukuang2:focus{ border:1px solid #40aa00; background: #ffffff; line-height:24px; height:24px;
-moz-box-shadow:0px 0px 5px #989898 ;               /* For Firefox3.6+ */
-webkit-box-shadow:0px 0px 5px #989898;            /* For Chrome5+, Safari5+ */
box-shadow:0px 0px 5px #989898 ;                    /* For Latest Opera */
}
.shurukuang3{ clear:both; width:407px; height:27px; line-height:27px; color:#666; padding-left:60px; background:url(../images/home/home_search_07.gif) no-repeat; border:0; border-right:px solid #b4b4b4; margin-top:0px; float:left }
.shurukuang_home{ clear:both; width:550px; height:27px; line-height:27px; color:#666; padding-left:7px; background:url(../images/home/home_search.gif) no-repeat; border:0; border-right:px solid #b4b4b4; margin-top:0px; float:left }



.search_btn{ width:88px; height:28px; background: url(../images/search/ssbg_05.gif) no-repeat; border:0; font-family:"Microsoft Yahei"; font-size:14px; color:#FFFFFF; cursor:pointer; margin-left:4px; margin-right:3px; padding-left:23px; float:left}
.search_gaoji{ width:40px; height:29px; background:url(../images/search/ssxg_06.gif) no-repeat; border:0; cursor:pointer; margin-left:px;}
.search_input{ width:762px; height:35px; background-color:#f4f4f4; margin-left:10px;}
.search_input2{ width:645px; height:px; margin-left:3px;}
.search_input_home{ width:680px; height:35px; margin-left:10px;}
.search_pd{ float:left; width:540px; margin-top:17px; margin-left:3px;}
.search_pd_shuru{ width:421px; height:37px; line-height:37px; border:0; background:url(../images/search/pdss_03.gif); color:#969696; font-size:14px; padding-left:7px; float:left}
.search_pd_sousuo{ width:88px; height:39px; border:0; background:url(../images/search/pdss_04.gif); float:left; cursor:pointer}
.search_pd_gaoji{ width:23px; height:39px; border:0; background: url(../images/search/pdss_05.gif); float:left; cursor:pointer}
/**/

.pd_search{ float:left; margin-left:0px;}
.dropDownList{}
/* .dropDownList div.dropdown select{display:none;}*/
.dropdown{}
.dropdown span{display:block; width:50px; height:20px;line-height:20px; text-indent:7px; overflow:hidden; background: url(../images/new/ztxl_03.gif) right no-repeat;border:solid px #83BBD9;cursor:default;}
	.dropdown ul{width:100px;display:none;position:absolute;}
		.dropdown ul li{background:#ffffff;height:20px;width:100%;padding:3px 0;text-indent:12px;cursor:default;line-height:20px; border-bottom:1px solid #ddd}
		/*普通状态下的样式*/
		.dropdown ul li.normal{background:#ffffff;}
		/*鼠标移上的样式*/
		.dropdown ul li.over{background:#ccc;}
		/*当前被选中的样式*/
		.dropdown ul li.current{background:#fff;font-weight:bold;}
	.dropdown ul.show{display:block;}
	#dropDownList1 span{ width:0px; padding-left:17px; height:28px; line-height:28px; font-family:"Microsoft yahei"; background: url(../images/search/ssxl_03.gif); cursor:pointer; overflow:hidden;}

/**/
.sousuo_xia{ font-size:12px; color:#666666; position:; margin-top:2px; margin-left:285px; }
.sousuo_xia a{ color:#4a5760}
.sousuo_xia a span{ display:inline-block; height:16px; line-height:16px; background: url(../images/search/bqbg3_23.gif) right no-repeat; padding-right:17px; padding-left:10px; color:#767676; border:1px solid #b6bcc1; padding-top:px; margin-right:5px;
	border-radius: 15px;     /*css3*/

	-moz-border-radius:  15px;     /*firefox*/ 

   	-webkit-border-radius: 15px;     /*webkit*/

}
/**/

.search_sort{ font-size:14px; height:30px; line-height:30px; background: url(../images/search/bag_03.gif) repeat-x #f9f9f9; border:1px solid #f3f3f3; font-family:"microsoft yahei"; color:#666666; font-weight:; margin-right:15px; margin-bottom:10px; margin-top:10px; padding-left:5px; padding-right:8px;}
.search_sort img{ margin-top:-2px;}
.search_sort a{ color:#666}
.search_result_box{ background:#FFFFFF; width:795px; min-height:650px; margin-left:8px; padding-bottom:30px;}
.search_result{border-right:1px dashed #f0f0f0; margin-top:15px;}
.search_box{ height:100px;}
.hengxian{ height:17px; margin:0 15px; border-bottom:1px solid  #DFDFDF; }

.yinshen_tu{ margin-left:20px; margin-bottom:20px; line-height:30px; font-family:"microsoft yahei"; font-size:14px; color:#333333; width:770px; height:150px; overflow:hidden;}
.yinshen_tu a{ color:#333333;}
.yinshen_tu img{ height:120px; margin-right:10px;}

.search_jieguo{ width:770px; height:px; border-bottom:1px dashed #e4e4e4; margin-left:12px; margin-bottom:15px; padding-top:5px}
.search_jieguo:hover{ background:#fbfbfb; border-left:1px solid #838383; margin-left:11px;}
.search_xinxi{
	margin-top:px;
	margin-left:10px;
	_margin-top:12px;
	_margin-left:8px;
	width:760px;
	font-family:"microsoft yahei";
	padding-bottom:10px;
}
.search_xinxi a{ color:#0069b2}


.segment{
	color:#005579;
	font-size:14px;
	font-weight:bold;
	width:710px;
	height:19px;
	line-height:19px;
	overflow:hidden;
	background: url(../images/bg/segment.gif) 0px 2px no-repeat;
	padding-left:20px;
}
.table{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background: url(../images/bg/table.gif) 0px 2px no-repeat; padding-left:20px; }
.picture{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background: url(../images/bg/picture.gif) 0px 2px no-repeat; padding-left:20px;  }
.video{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background: url(../images/bg/video.gif) 0px 2px no-repeat; padding-left:20px; }
.bigfile{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background: url(../images/bg/bigfile.gif) 0px 2px no-repeat; padding-left:20px; }
.ppts{ color:#037fa8; font-size:14px; font-weight:bold; width:690px; height:19px; line-height:19px; overflow:hidden; background: url(../images/bg/ppt.gif) 0px 2px no-repeat; padding-left:20px; }

.search_jianjie{
	width:750px;
	line-height:18px;
	color:#444;
	margin:10px 0
}
.search_leibie{
	width:750px;
	height:18px;
	color:#c2c2c2;
	overflow:hidden
}
.search_leibie img{ margin-left:5px; margin-right:3px;}
.search_leibie a{ color:#999999}
.search_leibie span{ color:#999; margin-left:10px;}
.search_leibie .left{ color:#093}
.search_leibie .right{ color:#888888}



/*图片列表页*/
.search_result_pic{ width:180px; float:left; border:1px solid #E4E4E4; margin-left:13px; margin-bottom:20px;}
.search_result_pic:hover{ border:1px solid #44a8c6;}
.search_result_pic_title{ color:#666666; line-height:20px; width:93%; height:40px; overflow:hidden; margin-left:7px;}
.search_result_pic_title a{ color:#666666; }
.search_result_pic_img{ margin:7px; width:166px; height:100px; overflow:hidden}
.search_result_pic_time{ width:93%; margin-left:7px; color:#666666; line-height:20px;}
.search_result_pic_like{ width:93%; margin-left:7px; line-height:30px; text-align:}
.search_result_pic_like a{ color:#999}
.search_result_pic_other{ background:#f7f7f7;}

.top10_pic{ margin:0 10px; width:175px; height:443px; overflow:hidden;
	_margin:8px;
	_display:inline;
	margin-top:10px;
	padding-bottom:5px;
	border:1px solid #e6e6e6;
	border-top:1px solid #3399CC;
	background: url(../images/search/bag_03.gif) repeat-x;
}
.top10_pic_title{ color:#0098bd; font-size:14px; height:33px; line-height:33px; font-family:"Microsoft Yahei"; background: url(../images/tb_03.gif) 8px 9px no-repeat; font-weight:bold; padding-left:26px; margin-bottom:5px; border-bottom:1px solid #e6e6e6;}
.top10_pic li{ width:160px; height:130px; line-height:30px; color:#8f8f8f; list-style:none; margin-left:10px; margin-top:5px; float:left; overflow:hidden;}
.top10_pic li img{ width:156px; height:100px;}
.top10_pic li a{ color:#8f8f8f; width:70px;}
.top10_pic li em{ font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-right:5px; color:#b3b3b3}


/*视频列*/

.search_result_video{ width:375px; float:left; border:1px solid #E4E4E4; margin-left:13px; margin-bottom:20px; position:relative}
.search_result_video:hover{border:1px solid #44a8c6}
.search_result_video_info{
	width:190px;
	overflow:hidden;
}
.search_result_video_title{ color:#333; font-size:14px; width:200px; height:19px; line-height:19px; margin-top:15px; overflow:hidden; }
.search_result_video_title a{ color:#037fa8; font-weight:bold;}
.search_result_video_shot{ width:200px; line-height:18px; color:#666; margin:8px 0}
.video_play{ position:absolute; top:40px; left:70px;}




.top10_video{ margin:0 10px; width:175px;
	_margin:8px;
	_display:inline;
	margin-top:10px;
	padding-bottom:5px;
	border:1px solid #e6e6e6;
	border-top:1px solid #3399CC;
	background: url(../images/search/bag_03.gif) repeat-x;
}
.top10_video_title{ color:#0098bd; font-size:14px; height:33px; line-height:33px; font-family:"Microsoft Yahei"; background: url(../images/tb_03.gif) 8px 9px no-repeat; font-weight:bold; padding-left:26px; margin-bottom:5px; border-bottom:1px solid #e6e6e6;}
.top10_video li{ width:75px; line-height:30px; color:#8f8f8f; list-style:none; margin-left:10px; margin-top:5px; float:left; height:78px; overflow:hidden;}
.top10_video li img{ width:71px; height:50px;}
.top10_video li a{ color:#8f8f8f; width:70px;}
.top10_video li em{ font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-right:5px; color:#b3b3b3}






.gjztj_title{ font-size:16px; color:#0086b1; font-family:"Microsoft Yahei"; font-weight:bold; padding-left:10px;  line-height:30px; float:left}
.gjz_box{}
.gjz{ color:#737373; margin-left:10px; width:650px; float:left}
.gjz li{ float:left; list-style:none; line-height:26px;}
.gjz li a{ text-align:center; color:#676767; font-size:13px; font-weight: ; font-family:""; display:block; padding-right:10px; padding-left:27px; white-space:nowrap; background: url(../images/detail/bq_03.gif) no-repeat; border-right:1px solid #ccc; margin-right:10px; margin-bottom:10px; margin-top:3px;}
.gjz li a:hover{ background: url(../images/detail/bqq_03.gif) no-repeat; border-right:1px solid #919191;}
.gjz li a.first{ border-top:1px solid #1e9bc3;  border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #fff}

.xinxi5{
	clear:both;
	border:1px solid #e3e3e3;
	margin-left:20px;
	margin-right:20px;
	margin-top:-1px;
	_margin-top:-10px;

}
.xinxi5 li{ list-style:inside; line-height:24px; color:#8a8a8a; padding-left:10px;}
.xinxi5 li a{color:#8a8a8a; }

.search_right_box{ width:204px; background:url(../images/bgtm_05.png)}
.search_right{ width:197px; background:#; height:100%; _margin-top:5px; margin-right:0px; padding-top:5px; padding-bottom:20px; background:#}
.top10{ margin:0 10px;
	_margin:8px;
	_display:inline;
	margin-top:10px;
	width:175px; overflow:hidden;
	padding-bottom:5px;
	border:1px solid #e6e6e6;
	border-top:1px solid #3399CC;
	background: url(../images/search/bag_03.gif) repeat-x;
}
.top10_title{ color:#0098bd; font-size:14px; height:33px; line-height:33px; font-family:"Microsoft Yahei"; background: url(../images/tb_03.gif) 8px 9px no-repeat; font-weight:bold; padding-left:26px; margin-bottom:5px; border-bottom:1px solid #e6e6e6;}
.top10 li{ width:150px; overflow:hidden; height:30px; margin:0 5px; line-height:30px; overflow:hidden; color:#8f8f8f; list-style:none; padding-left:13px; font-style:normal; background: url(../images/new/sj_03.gif) no-repeat 4px 12px; font-size:12px; border-bottom:1px solid #f9f9f9;}
.top10 li a{ color:#8f8f8f;}
.top10 li em{ font-family:Arial, Helvetica, sans-serif; font-style:normal; font-size:12px; margin-right:5px; color:#b3b3b3; display:none}
.tiwen{ margin-left:10px; margin-top:10px; margin-bottom:20px;}






/* 详细页 */

.ppt{ margin:0 10px; padding-bottom:1px;}
.ppt_title{ font-size:22px; font-family:"Microsoft Yahei"; color:#035e74; text-align:center; line-height:20px; height:20px; margin-top:20px; padding-left:10px;}
.ppt_title a{ color:#007db1;}
.ppt_title p{ color:#999; font-size:12px; margin-top:5px; margin-left:10px;}

.gjz_ppt{ color:#737373; margin-left:10px; width:850px; float:left}
.gjz_ppt li{ float:left; list-style:none; line-height:26px;}
.gjz_ppt li a{ text-align:center; color:#676767; font-size:13px; font-weight: ; font-family:""; display:block; padding-right:10px; padding-left:27px; white-space:nowrap; background: url(../images/detail/bq_03.gif) no-repeat; border-right:1px solid #ccc; margin-right:10px; margin-bottom:10px; margin-top:3px;}
.gjz_ppt li a:hover{ background: url(../images/detail/bqq_03.gif) no-repeat; border-right:1px solid #919191;}
.gjz_ppt li a.first{ border-top:1px solid #1e9bc3;  border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #fff}

.ppt_more{ font-size:14px; color:#606060; font-family:"Microsoft Yahei";  margin-bottom:20px; background:#fafafa; border:px solid #f0f0f0; padding-left:5px; text-align:center}

.shangxiaye{ position:absolute; top:200px; right:-21px; width:20px;}
.shangxiaye img{ margin-left:-3px;}
.glgjc_box{ margin-top:30px; margin-left:px;}
.glgjc{ width:13px; height:42px; padding:0 6px; padding-top:4px; display:block; background:url(../images/detail/gjc_05.gif); margin-left:-3px; coloR:#FFFFFF}
.glgjc_gray{ width:13px; height:42px; padding:0 6px; padding-top:4px; display:block; background:url(../images/detail/gjc_05.gif); margin-left:-3px; color:#999999}
.shangyiye{ width:20px; height:71px; background: url(../images/detail/fys_03.gif); display:block; margin-bottom:5px;}
.xiayiye{ width:20px; height:71px; background: url(../images/detail/fyx_06.gif); display:block; }

.shangyiye2{ width:20px; height:71px; background: url(../images/detail/fys2_03.gif); display:block; margin-bottom:5px; }
.xiayiye2{ width:20px; height:71px; background: url(../images/detail/fyx2_06.gif); display:block; }




.fix2{ height:0px; top:12px;}

.detail_mulu{}
.detail_mulu2{ position:absolute; left:5px; top:210px;}
.detail_mulu img{ float:left;}
.detail_mulu_left{ width:170px; height:px; overflow-y: auto; overflow-x: hidden; background:#f9f9f9; border-top:1px solid #a2a2a2; border-bottom:1px solid #a2a2a2; padding-bottom:20px; padding-left:10px; padding-right:10px; margin-top:-11px;
scrollbar-arrow-color:#bcbcbc; /*三角箭头的颜色*/

scrollbar-face-color: #ffffff; /*立体滚动条的颜色（包括箭头部分的背景色）*/

scrollbar-3dlight-color: #ffffff; /*立体滚动条亮边的颜色*/

scrollbar-highlight-color:  #efefef; /*滚动条的高亮颜色（左阴影？）*/

scrollbar-shadow-color:  #ffffff; /*立体滚动条阴影的颜色*/

scrollbar-darkshadow-color:  #efefef; /*立体滚动条外阴影的颜色*/

scrollbar-track-color:  #efefef; /*立体滚动条背景颜色*/

scrollbar-base-color:  #efefef; /*滚动条的基色*/
}
.detail_mulu_left p{ background: url(../images/detail/jt_09.gif) 5px 8px no-repeat; padding:3px 0; padding-left:15px; line-height:20px; border-bottom:1px solid #ddd; border-top:1px solid #fff; margin-right:10px; font-family:"microsoft yahei"}
.detail_mulu_left p a{ color:#444;}
.detail_mulu_left h3{ color:#333; margin:0; line-height:35px; margin-top:10px; border-bottom:1px solid #ddd; background: url(../images/new/book_03.gif) 0px 5px no-repeat; padding-left:22px;}
.detail_mulu_left li{ padding-left:20px; color:#666;  font-family:"microsoft yahei"; line-height:25px; background:url(../images/detail/jt_09.gif) 10px 8px no-repeat; border-bottom:1px solid #ddd; border-top:1px solid #fff;}
.detail_mulu_left li.hover{ background:url(../images/detail/dsj_09.gif) 7px 7px no-repeat}
.detail_mulu_left li img{ margin-top:7px; margin-right:3px;}
.detail_mulu_left li a{ color:#666}
.detail_mulu_left li a span{ margin-right:5px; font-family:Georgia; font-size:18px; color:#666666; font-weight:}

.detail_mulu_file_position{float:left; width:100px; height:700px; padding-right:20px;}
.detail_mulu_file_position2{ position:relative;}
.detail_mulu_file{ width:350px; height:700px; overflow: auto; background:#f9f9f9; border-top:1px solid #a2a2a2; border-bottom:1px solid #a2a2a2; padding-bottom:20px; padding-left:40px; padding-right:20px; z-index:99; position:absolute}
.detail_mulu_file h3{ color:#333; margin:0; line-height:35px; margin-top:10px;}
.detail_mulu_file li{ padding-left:20px; color:#666; font-family:"microsoft yahei"; line-height:25px; background:url(../images/detail/jt_09.gif) 10px 8px no-repeat; }
.detail_mulu_file li.hover{ background:url(../images/detail/dsj_09.gif) 7px 7px no-repeat}
.detail_mulu_file li img{ margin-top:7px; margin-right:3px;}
.detail_mulu_file li a{ color:#666}


.file_content{ margin-left:20px; margin-top:20px}
.file_content_right{ width:px; float:left; color:#5e5e5e; font-size:14px; line-height:30px; margin:0 20px;}

.weizhi{ height:25px; line-height:25px; border-bottom:1px solid #cbcbcb; margin-bottom:5px; margin-top:px; margin-left:10px; margin-right:10px; color:#b4b4b4; font-size:12px;}
.xjt{ font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0 5px;}
.weizhi_shouye a{ background:url(../images/detail/hm.gif) 3px 4px no-repeat; padding-left:15px; color:#6793b3; width:40px; text-align:center; display:block; border-bottom:1px solid #00a2c8}
.weizhi_qita a{ color:#999999}


/*文内检开始索*/

.detail_search{ position:absolute; width:400px; height:24px; padding:1px; background:#ffffff; margin-left:590px; margin-top:-6px;}
.detail_search_input{ border:1px solid #cfcfcf; width:250px; height:20px; line-height:20px; color: #999999; font-family:"microsoft yahei"; padding-left:3px}
.detail_search_input:focus{ color:#333333}
.detail_search_btn{ width:21px; height:20px; background:url(../images/detail/wnjs_11.jpg); border:0; cursor:pointer; margin-left:-25px;}
.detail_search_light{ background:url(../images/detail/wnjs_08.jpg); height:24px; line-height:24px; border:1px solid #bababa; color: #999999}
/*文内检索结束*/


.detail{ width:794px; height:; margin-top:13px; border-right:1px dashed #f0f0f0; padding-bottom:40px;}
.detail_title{ font-size:22px; font-family:"Microsoft Yahei"; color:#035e74; text-align:center; line-height:40px; margin-top:20px; padding-left:30px;}
.detail_title a{ color:#007db1;}
.detail_title p{ color:#999; font-size:12px; margin-top:5px; margin-left:10px;}
.detail_title2{ line-height:30px; color:#666666; font-size:16px; text-align: left; padding-left:30px;}
.detail_title_detail{ line-height:40px; color:#666666; font-size:18px; text-align: left; padding-left:10px; border-bottom:1px dashed #ddd; margin:0 20px; margin-bottom:10px;}
.detail_title3{ text-align:center; color:#999; line-height:30px; margin:0 20px; border-bottom:1px dashed #dbdbdb}
.title2{ text-align:center; color:#999; line-height:40px; margin:0 20px; border-bottom:1px dashed #dbdbdb}
.pic{ margin:20px 0;}
.detail img{ max-width:700px;}
.wenzi{ color:#5e5e5e; font-size:14px; line-height:30px; margin:0 30px; margin-bottom:20px;}
.btn{ text-align:center; margin-bottom:20px;}
.btn img{ margin:0 20px;}
a.zan{ background: url(../images/detail/sc_13.jpg) 10px 0 no-repeat #e05655; border: 3px solid #eeeeee; height:24px; line-height:24px; padding-right:10px; padding-left:30px; color: #FFFFFF; font-family:"Microsoft Yahei"; display:inline-block; margin-right:20px;}
a.zan:hover{ text-decoration:none}

a.shoucang{ background: url(../images/detail/sc_11.jpg) 10px 0 no-repeat #5599e0; border: 3px solid #eeeeee; height:24px; line-height:24px; padding-right:10px; padding-left:30px; color: #FFFFFF; font-family:"Microsoft Yahei"; display:inline-block; margin-right:20px;}
a.shoucang:hover{ text-decoration:none}

.pinglun{ margin-left:20px; margin-top:10px; padding-left:20px; margin-bottom:30px; clear:both}
.pinglun_title{font-size:16px; color:#0086b1; font-family:"Microsoft Yahei"; font-weight:bold; line-height:30px;}
.pinglun_box{ margin-top:10px; margin-right:30px; padding-bottom:15px; border-bottom:1px dashed #dbdbdb}
.pinglun_box img{ float:left; padding:3px; border:1px solid #e7e7e7; margin-right:10px;}

.pinglun_ren{ color:#004276; font-size:14px}
.pinglun_ren a{ color:#004276}
.pinglun_ren span{ color:#999999; font-size:12px}
.pinglun_neirong{ color:#a5a5a5; width:642px; line-height:20px; margin-top:5px;}

.pinglun_tongji{ text-align:right; margin-right:30px; line-height:30px; color:#0086b1}
.pinglun_tongji a{ color:#FF6600; font-family:Arial, Helvetica, sans-serif; font-size:14px}
.pinglun_tianxie{ color:#2b2b2b; width:720px; height:180px; background:#f4f4f4; border-top:1px solid #CCCCCC}
.pinglun_denglu{ padding:10px;}
.pinglun_tianxie textarea{ color:#999999}
.shengming{ color:#999999; line-height:30px; margin-left:10px;}

/* 详细图书页 */

.detail_book{ padding-top:10px; }

.detail_book_content{ padding:20px 40px; padding-bottom:40px;}
.detail_book_title{ font-size:16px; color:#606060; font-family:"Microsoft Yahei";  margin-bottom:20px; background:#fafafa; border:px solid #f0f0f0; padding-left:5px;}
.detail_book_title img{ margin-bottom:3px;}
.detail_book_book{ width:180px; height:274px; background:url(../images/detail/bookdetail_03.gif); padding-right:20px; padding-left:50px; padding-top:70px;  margin-left:10px; float:left}
.detail_book_book p{ font-size:24px; color:#3aa300; font-family:"SimHei"; margin-bottom:30px;}
.detail_book_book span{ font-size:12px; color:#7a7a7a; }

.detail_book_info{ width:616px; float:left; margin-left:30px; color:#606060; margin-top:10px;}
.detail_book_info_m{ color:#606060; border-bottom:2px solid #e6e6e6; padding-left:20px; font-family:"Microsoft Yahei";}
.detail_book_info_n{ color:#0d4f00; border-bottom:1px solid #e6e6e6; padding-left:13px; font-family:"Microsoft Yahei"; line-height:20px; padding:8px 0}
.detail_book_info_n strong{ font-size:14px; font-weight:normal}
.detail_book_list{}
.detail_book_list h3{ font-size:14px; font-family:"Microsoft Yahei"; color:#606060; font-weight:normal; line-height:30px; border-bottom:1px solid #6cb12a; padding-left:5px; clear:both}
.detail_book_list li{ margin-left:5px; line-height:32px; width:445px; height:32px; float:left; background:url(../images/new/jt_07.gif) right no-repeat}
.detail_book_list li span{ float:left; background:#fff; font-size:18px; color:#666; font-family:Arial, Helvetica, sans-serif; display:none}
.detail_book_list li p{ float:left; background:#fff; padding-right:10px; color:#0d4f00; padding-left:5px; }
.detail_book_list p{ padding-right:10px; color:#0d4f00; padding-left:10px; line-height:32px;}

.detail_book_con ul{ margin-left:-40px; _margin-left:-90px;}
.detail_book_con h3{ font-size:14px; color:#5e5e5e; font-weight:bold; font-family:"Microsoft Yahei"; line-height:30px; border-bottom:1px solid #d3d3d3; padding-left:5px;}
.detail_book_con li{ width:145px; height:155px; background:url(../images/detail/book_xiao_03.gif); padding-top:45px; float:left; margin-left:45px;}
.detail_book_con li p{ color:#363636; font-size:15px; line-height:28px; font-family:"SimHei"; margin:0px 15px 0px 25px;}

/* 详细表格页 */

.table_hd{ margin:10px 15px; border-bottom:1px solid #00a5cd; height:26px; line-height:26px; font-family:"Microsoft Yahei"; font-size:14px}
.table_hd li{ padding:0 15px; color:#666666; float:left; list-style:none; margin-right:2px; background: #F6F6F6; cursor:pointer}
.table_hd li.hover{ background:#00a5cd; color:#FFFFFF;}

/* 搜索筛选 */
.more_select{ border-top:3px solid #f4f4f4;}
.more_select .right{ background:#f4f4f4; padding:0px 8px 4px 8px}
.more_select .right a{}
.filter_btn2{ position: absolute; left:-21px; top:50px;}

.Filter{ color:#333; font-size:12px; font-family:"microsoft yahei"; position:relative}
.Filter_table{ border:0px solid #f3f3f3; margin-left:10px; margin-bottom:0px; width:770px;}
.filter_table_bg{ background:url(../images/jsbg_03.gif) repeat-x}
.Filter img{ margin-top:-2px;}
.Filter input{ margin-top:-3px;}
.filter_btn{ background:url(../images/ybg_03.gif); font-family:"Microsoft Yahei"; font-size:14px; border:1px solid #cdcdcd; border-top:2px solid #0083ae; border-bottom:0; width:100px; line-height:25px;  text-align:center; color:#666666; font-weight:bold; position:absolute; top:-43px; left:-1px;}
.filter_btn_top{ width:770px; height:10px; background:url(../images/bag_03.gif) repeat-x}
.filter_btn a{ color:#666}

.select_sort{ border-bottom:1px solid #ededed; padding-top:10px; font-family:"microsoft yahei"; padding-bottom:10px; backgroun:url(../images/personal/bg_10.gif) repeat-x}
.select_title {
	width: 90px; text-align: right; line-height: 25px; font-weight: bold; float: left;
}
.select_title li{ list-style:none}
.select_title a{ color:#333}
.select{ float:left; width: 650px; }
.selected{ line-height:25px; padding:10px; padding-top:0; border-bottom:0px solid #dcdcdc}
.selected li{ list-style:none; float:left; height:16px; line-height:16px; white-space:nowrap;
 text-decoration: none; color:#333; padding:0px 0px 0px 3px; background: url(../images/x_03.gif) no-repeat right; border:1px solid #E8E8E8; margin-left:10px; margin-top:5px; margin-bottom:5px;
}
.selected li a{ color:#333; padding-right:16px; text-decoration:none; white-space:nowrap;}
.select_bread{ line-height:25px; margin-left:10px; margin-bottom:5px; color:#666666; padding-bottom:5px; border-bottom:0px dotted #e2e2e2}
.select_bread li{ list-style:none}
.select_bread a{ color:#2585a1; font-weight:bold}
.select_list{
 margin-left:10px; float:left; line-height: 25px; width:640px;

}


.select_list li { list-style:none; float:left; list-style-type: none;border:1px dashed #f3f3f3; padding-top:2px;
	height: 15px; line-height: 15px; text-decoration: none; white-space:nowrap; color:#666666; margin:6px 6px; margin-left:0;
}

.select_list a {
	text-decoration: none;   color:#666666; white-space:nowrap
}
 
.shaixuan{ width:153px; height:26px; line-height:26px; background: url(../images/search/sssvfaf.gif); border:0; font-size:12px; color:#00506a; font-family:""; padding-left:15px; cursor:pointer}

 .select_sort_fbfx{ border-bottom:1px solid #ededed; padding-top:10px; font-family:"microsoft yahei"; padding-bottom:10px; backgroun:url(../images/personal/bg_10.gif) repeat-x}
 .glgjc_box{ margin-top:50px;}
 
.select_list_fbfx{
 margin-left:10px; float:left; line-height: 25px; 

}
.select_list_fbfx li { list-style:none; float:left; list-style-type: none;border:1px dashed #f3f3f3; padding-top:2px;
	height: 15px; line-height: 15px; text-decoration: none; white-space:nowrap; color:#666666; margin:6px 6px; margin-left:0;
}
.select_list_fbfx a {
	text-decoration: none;   color:#666666; white-space:nowrap
}

.pd_search{ float:left; z-index:999999999999999; margin-left:0px; position: relative}



.type_choose{ color:#444444;}
.type_choose input{ margin-bottom:3px;}
.type_choose label{ margin-right:10px;}